---
import '../styles/global.css';
const pageTitle = "Página de inicio";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>
		<p>My awesome blog subtitle</p>
		<p>My name is <strong>Astro</strong> and this is my website.</p>
		<p>this is my live website in netlify <a href="https://myfirstastrojk.netlify.app/" target="_blank">My Astro site</a></p>
		<p>... and here the netlify link <a href="https://app.netlify.com/sites/myfirstastrojk/overview" target="_blank">Netlify</a></p>
	</body>
</html>
